@font-face{ 
	font-family: 'curly';
	src: url('fonts/LeckerliOne-Regular.otf');
}

/* ---NAV BAR ---*/
.navbar{margin-bottom: 0px;}
.navbar-nav li a {padding: 5px; color: white;}


/*.navbar-inverse { background-color: #323F72}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #232C4F}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #232C4F}
.dropdown-menu { background-color: #FFFFFF}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #008C84}
.navbar-inverse { background-image: none; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-image: none; }
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #333333}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}*/



h1{font-size: 45px; margin: 0; padding: 20px 15px 10px 15px; text-align: center;}
h3{font-size: 30px;}
h4{padding: 0px; margin: 0 0 0 15px; font-size: 24px;}

body{
    background-color: #C16426 /*#CC5A1E*/;
    color: white;
    font-size: 16px;
}

p, a {
    font-family: sans-serif;
    line-height: 1.2;
    font-size: 14px;
}
a {color: #405091;}
a::hover {text-decoration: none;}

#map-canvas {}
#iframe {margin-left: 10px; margin-right: 10px;}

.resetBt {
    font-size: 16px;
    position: absolute;
    float: right;
    top: 165px;
    right: 5px;
    z-index: 10;
    background-color: white;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
}

.black {
    color: black;
}

.dialog {
    display: inline;
}


.heading{
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}

.level {
    min-height: 90vh;
    width: 100%;
    border-top: 1px solid white;
}

.bb {
    border-bottom:2px white solid;
    padding-bottom: 15px;
}

.x-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}

.next-left {
    float: left;
    height: 60px;
    position: absolute;
    margin: 110px 15px;
    opacity: 0.4;
    z-index: 10;
}

.next-left:hover {opacity: 1;}

.next-right {
    float: right;
    height: 60px;
    position: absolute;
    margin: 110px 15px;
    left: 93%;
    opacity: 0.4;
}

.next-right:hover {opacity: 1;}

.tooltip-custom {
    border: none;
    border-radius: 8px;
    background-color: white;
    color: black;
}

.tooltip-arrow{
    background-color: white;
    color: white; 
}

.tooltip-inner{
    background-color: white;
    color: black;
}




.tooltip { position:absolute;
	width: 145px;
	padding: 5px;
	border: 1px solid gray;
	font-size: 9pt;
	font-family: Verdana;
	background-color: #fff;
	color: #000;
}

